/* ------------------------ID Selectors----------------------------- */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    height: 100%;
    padding: 0.2% 2% 0% 2%;
    background-color: rgb(26, 26, 26);
    max-width: 1920px;
    margin: auto;
}



* {
    transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
}

span {
    text-decoration: underline;
}

h1 {
    font-size: 10rem;
    line-height: 93%;
    font-family: "Dancing Script", cursive;
}

h4 {
    font-size: 3rem;
    line-height: 1.5;
    font-family: "Domine", serif;
}

h5 {
    font-size: 1.25rem;
    line-height: 1.4;
    font-family: "Domine", serif;
    color: rgb(156, 156, 156);
}

/* --------------------------------------Common Elements------------------------------------------ */

.common-btn {
    background: rgba(230, 23, 119, 1);
    /* background: linear-gradient(90deg, rgba(237, 23, 113, 1) 0%, rgba(230, 23, 119, 1) 20%, rgba(209, 24, 135, 1) 40%, rgba(176, 25, 161, 1) 60%, rgba(129, 26, 197, 1) 80%, rgba(82, 28, 234, 1) 100%) no-repeat; */
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}



.line {
    position: absolute;
    display: inline-block;
    background-color: rgb(90, 90, 90);
}

.totop-btn {
    position: fixed;
    background: rgb(230, 23, 119);
    /* background: linear-gradient(90deg, rgba(237, 23, 113, 1) 0%, rgba(230, 23, 119, 1) 20%, rgba(209, 24, 135, 1) 40%, rgba(176, 25, 161, 1) 60%, rgba(129, 26, 197, 1) 80%, rgba(82, 28, 234, 1) 100%) no-repeat; */
    border-radius: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 99;
}

.top-arrow-img {
    width: 30px;
}

/* -------------------------------------------------------------------------------- */
/* -----------------------------------Navbar--------------------------------------------- */

.nav-link {
    color: rgb(156, 156, 156);
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar-brand:focus {
    color: rgb(156, 156, 156);
}

.nav-link:hover,
.nav-txt:hover {
    color: rgb(255, 255, 255);
}

.navbar-brand {
    font-size: 1.7rem;
    font-weight: 500;
    color: rgb(156, 156, 156);
}

.item-nav {
    font-size: 1.05rem;
    margin: auto;
}

.navbar-toggler {
    border-color: rgb(156, 156, 156);
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(156, 156, 156,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
    box-shadow: none;
    border-color: rgb(255, 255, 255);
}

.download-img {
    height: 20px;
}

/* -------------------------------------------------------------------------------- */
/* ---------------------------------Landing page----------------------------------------------- */

.landing-img {
    padding-right: 6rem;
    width: 43rem;
    float: right;
}

.landing-txt {
    padding-top: 72px;
    color: white;
    display: inline-block;
    padding-left: 6%;
}

.landing {
    margin-top: 7%;
    display: inline-block;
}

/* -------------------------------------------------------------------------------- */
/* ---------------------------------Works page----------------------------------------------- */

.works {
    margin-top: 7%;
    display: inline-block;
    height: 350px;
}

.right-arrow{
    height: 30px;
}



/* -------------------------------------------------------------------------------- */
/* ---------------------------------footer----------------------------------------------- */

.footer {
    margin-top: 7%;
    text-align: center;
    color: rgb(156, 156, 156);
}

/* -------------------------------------------------------------------------------- */

/* -----------------------------------Responsive--------------------------------------------- */

/* ---------------------------------Tablet----------------------------------------------- */
/* @media only screen and (max-width: 1142px) {

    h1 {
        font-size: 7.5rem;
        line-height: 93%;
        font-family: 'Dancing Script', cursive;
    }

    h4 {
        font-size: 2.5rem;
        font-family: 'Domine', serif;
    }

    h5 {
        font-size: 1.25rem;
        font-family: 'Domine', serif;
        color: rgb(156, 156, 156);
    }

    .landing-img {
        visibility: collapse;
    }


} */

/* ---------------------------Mobile----------------------------------------------------- */

/* @media only screen and (max-width: 450px) {

    h1 {
        font-size: 8rem;
        line-height: 93%;
        font-family: 'Dancing Script', cursive;
    }

    h4 {
        font-size: 3rem;
        font-family: 'Domine', serif;
    }

    h5 {
        font-size: 1.25rem;
        font-family: 'Domine', serif;
        color: rgb(156, 156, 156);
    }

} */

/* -------------------------------------------------------------------------------- */
